# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.idea
/codeStyles/codeStyleConfig.xml
/compiler.xml
/domosolar-stack.iml
/misc.xml
/modules.xml
/vcs.xml
